background-color: #dde7ff;
}

body.modo-cÃ³smico nav.redes a {
  background-color: #6e60ff;
  color: #fff;
}

body.modo-cÃ³smico footer {
  background-color: #e7ebf7;
  color: #5e2ca5;
}

/* Niebla animada */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url('https://media.giphy.com/media/3o6jIE6TlH8DRxX140/giphy.gif') repeat;
  opacity: 0.05;
  pointer-events: none;
  animation: fog 90s linear infinite;
  z-index: -1;
}

@keyframes fog {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 0; }
}
